{% extends "layout.py.jinja" %}
{% block body %}
{
    "name": "{{ name }}",
    "summary": "{{ summary or 'TODO: Fill later' }}",
    "version": "{{ '%.1f' | format(odoo_version) }}.0.1.0",
    "development_status": "{{ development_status }}",
    "category": "{{ category }}",
    "website": "{{ website }}",
    "author": "{{ manifest_author }}",
    "maintainers": {{ maintainers | tojson }},
    "license": "{{ license }}",
    "application": False,
    "installable": True,
    "preloadable": True,
    "pre_init_hook": "pre_init_hook",
    "post_init_hook": "post_init_hook",
    "post_load": "post_load",
    "uninstall_hook": "uninstall_hook",
    "external_dependencies": {
        "python": [],
        "bin": [],
    },
    "depends": [
        "base",
    ],
    {%- if odoo_version >= 11.0 %}
    "excludes": [
        "incompatible_module_name",
    ],
    {%- endif %}
    "data": [
        "security/some_model_security.xml",
        "security/ir.model.access.csv",
        {%- if odoo_version < 15 %}
        "templates/assets.xml",
        {%- endif %}
        "views/report_name.xml",
        "views/model_name_view.xml",
        "wizards/wizard_model_view.xml",
    ],
    "demo": [
        "demo/assets.xml",
        "demo/model_name_demo.xml",
    ],
    {%- if odoo_version >= 15 %}
    "assets": {
        "web.assets_backend": [
            "module/static/src/css/module_name.css",
            "module/static/src/js/module_name.js",
        ],
        "web.qunit_suite_tests": [
            "module/static/src/js/*.tour.js",
        ],
    },
    {%- else %}
    "qweb": [
        "static/src/xml/module_name.xml",
    ],
    {%- endif %}
}
{% endblock %}
