{% extends "layout.xml.jinja" %}
{% block body %}

<data>

<record id="model_name_view_form" model="ir.ui.view">
    <field name="name">My view description</field>
    <field name="model">model.name</field>
    <field name="arch" type="xml">
        <form string="My Data">
            <!-- My view content -->
        </form>
    </field>
</record>

<record id="form_view" model="ir.ui.view">
    <field name="name">My view description</field>
    <field name="model">model.name</field>
    <field name="inherit_id" ref="othermodule.form_view"/>
    <field name="arch" type="xml">
        <!-- My view modifications -->
    </field>
</record>

</data>
{% endblock %}
